@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik:wght@600&display=swap');


$ghost-white: #F8F9FE;
$green: #4BA586;
$grey: #8E8E8E;
$lightgrey: #A6A6A6;
$bg-white: #FEFEFF;
$border: #DEDCDA;
$title: #1f2744;
$subtitle: #054457;
$bg-main: #F5F5F5;


.main{
  background: $bg-main;
  font-family: 'Poppins', serif;
  h1{
    font-family: 'Rubik', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.0025em;
    color: $title;
    margin: 32px auto 24px;
  }
  h2{
    font-family: 'Rubik', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.5px;
    color: $subtitle;
    margin: 16px 0;
  }
  h3{
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.5px;
    color: $subtitle;
  }
  h4{
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.0025em;
    color: $title;
    margin: 16px 0 8px;
  }
  h5{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: $title;
    letter-spacing: 0.0025em;
  }
  h6{
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.0025em;
    color: $subtitle;
    margin: 0;
  }
  p{
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: #73788C;
  }
  button{
    padding: 16px 48px;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.0025em;
    border: none;
    cursor: pointer;
  }
  .btn__white{
    color: $green;
    background: transparent;
    margin-right: 8px;
    &:hover{
      color: #ffffff;
      background-color: $green;
      transition: all 1s ease;
    }
  }
  .btn__green{
    color: #ffffff;
    background-color: $green;
  }
  .section-name{
    display: inline-block;
    background: $ghost-white;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: $green;
  }

  header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 32px 125px 0;
    position: relative;
    ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      padding: 0;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0.5px;
      flex: none;
      order: 1;
      flex-grow: 0;
      a {
        text-decoration: none;
        color: $grey;
        align-content: center;
        text-align: center;
        text-align-all: center;
        position: relative;
        img{
          visibility: hidden;
          margin: 0 auto;
          position: relative;
          right: 50%;
          top: 15px;
        }
        &:hover{
          color: $green;
          position: relative;
          bottom: 10px;
          img{
            visibility: visible;
          }
        }
      }
    }
  }
  .logo{
    display: flex;
    align-items: center;
    span{
      font-family: 'Poppins', serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 26px;
      letter-spacing: 0.5px;
      color: $green;
    }
    img{
      margin-right: 8px;
    }
  }
  nav{
    width: 535px;
    margin-left: 216px;
  }
  section, footer{
    //margin: 0 124px;
  }

  .section-name{
    margin-top: 65px;
  }
  .title{
    height: 720px;
    margin-right: 0;
    background-image: url(../img/bg-head.png);
    background-repeat: no-repeat;
    background-position: 100%;
    p{
      margin-bottom: 64px;
    }
    .search{
      input{
        display: none;
        &:checked + label{
          background-color: $bg-white;
          color: $green;
        }
      }
      label{
        padding: 12px 32px;
        background: transparent;
        font-family: 'Poppins', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.0025em;
        color: $lightgrey;
      }
    }
  }
  .container{
    margin: 0 124px;
  }
  .recommendation{
    background-color: $bg-white;
    .section-name{
      margin-top: 120px;
    }
    .recommendation_elems{
      display: flex;
      justify-content: space-between;
      padding: 48px 0 120px;
    }
    .recommendation_elems__elem{
      border: 1px solid $border;
      padding: 16px;
      p{
        color: $lightgrey;
        margin: 0 0 16px;
      }
      .elem_list__price{
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
          color: $green;
          font-weight: 600;
          font-size: 24px;
          line-height: 32px;
          letter-spacing: 0.0025em;
        }
        .room-area{
          color: $title;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.0025em;
          padding: 4px 8px;
          margin-right: 55px;
          background-color: $bg-main;
          span{
            color: $lightgrey;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.0025em;
          }
        }

      }
      .btn__price{
        border: 1px solid $green;
        padding: 12px 121px;
        margin-top: 24px;
        background: transparent;
        &:hover{
          color: #ffffff;
          background-color: $green;
          transition: all 1s ease;
          a{
            color: #ffffff;
            transition: all 1s ease;
          }
        }
        a{
          text-decoration: none;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.0025em;
          color: $green;
        }
      }
    }
  }
  .learn{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .learn-link{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: $green;
    text-decoration: none;
    img{
      position: relative;
      top: 4px;
    }
  }
  .advante{
    .section-name{
      margin-top: 80px;
    }
    .advante_items{
      margin-top: 48px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 80px;
      .advante_items__item{
        max-width: 29%;
        padding: 20px;
      }
    }
  }
  .about{
    background-color: $bg-white;
  }
  .about_flex{
    padding-top: 216px;
    display: flex;
    .about_left{
      width: 52%;
      height: 475px;
      background-image: url(../img/bg-about.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
      .about_left__grade{
        width: 174px;
        height: 236px;
        box-shadow: 35px 35px 65px rgba(146, 106, 120, 0.16);
        background-color: $bg-white;
        position: relative;
        bottom: 80px;
        left: 96px;
        .tick-square{
          position: relative;
          bottom: 49px;
          left: 43%;
        }
        span{
          font-weight: 400;
          font-size: 72px;
          line-height: 80px;
          letter-spacing: 0.0025em;
          color: $subtitle;
          position: relative;
          top: 25px;
        }
        .stars{
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          margin: 0 35px;
          position: relative;
          top: 30px;
          img{
            width: 15px;
            height: 15px;
          }
        }
        .grade-reviews{
          color: $lightgrey;
          position: relative;
          top: 40px;
          text-align: center;
          .reviews-span{
            line-height: 4px;
            letter-spacing: 0.0025em;
            color: $subtitle;
          }
        }
      }
      .about_left__count{
        display: flex;
        justify-content: space-around;
        width: 520px;
        background-color: $bg-white;
        position: absolute;
        bottom: 0;
        right: 0;
        .about_sale{
          display: flex;
          align-items: center;
        }
      }
    }
    .about_right{
      margin-left: 56px;
      width: 45%;
      .section-name{
        margin-top: 25px;
      }
      .btn__green{
        margin-top: 48px;
      }
    }
  }
  .testimonials{
    background-color: $bg-white;
    .section-name{
      margin-top: 120px;
    }
    .testimonials_items{
      margin-top: 48px;
      padding-bottom: 120px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 32px;
      .testimonials_items__item {
        padding: 24px;
        border: 1px solid $border;
        p{
          color: $title;
        }
        .testimonials_item__author{
          display: flex;
          .author_info{
            margin-left: 14px;
            .author_name{
              color: #0B2E29;
            }
            .author_profession{
              color: #767676;
            }
          }
        }
      }
    }
  }
}


