@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik:wght@600&display=swap');


$green: #4BA586;
$grey: #8E8E8E;


.main{
  background: #F5F5F5;
  h1{
    font-family: 'Rubik', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.0025em;
    color: #1F2744;
  }
  h2{
    font-family: 'Rubik', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.5px;
    color: #054457;
  }
  h3{
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.5px;
    color: #054457;
  }
  h4{
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.0025em;
    color: #1F2744;
  }
  h5{
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: 0.0025em;
    color: #054457;
  }
  h6{
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.0025em;
    color: #054457;
  }
  p{
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: #73788C;
  }
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px 125px 0;
  }
  ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.5px;
    flex: none;
    order: 1;
    flex-grow: 0;
    a{
      text-decoration: none;
      color: $grey;
    }
  .logo{
    display: flex;
    align-items: center;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: $green;
    img{
      margin-right: 8px;
    }
  }
}
nav{
  width: 535px;
  }
}